@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

:root {
    /* primary color */
    --clr-primary-300: hsl(341, 100%, 83%);
    --clr-primary-400: hsl(341, 92%, 62%);

    /* accent color */
    --clr-accent-400: linear-gradient(to top, hsl(322, 87%, 55%) 0%, hsl(13, 100%, 64%) 100%);
    --clr-accent-400-hover: linear-gradient(to top, hsla(322, 87%, 55%, 0.5) 0%, hsla(13, 100%, 64%, 0.5) 100%);
    --clr-accent-500: linear-gradient(to top, hsl(237, 100%, 64%) 0%, hsl(322, 87%, 55%) 100%);
    --clr-accent-500-hover: linear-gradient(to top, hsla(237, 100%, 64%, 0.5) 0%, hsl(322, 87%, 55%, 0.5) 100%);

    /* neutral colors */
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: #F0F1FF;
    --clr-neutral-400: hsl(232, 10%, 56%);
    --clr-neutral-500: hsl(234, 25%, 42%);
    --clr-neutral-600: hsl(233, 54%, 16%);

    /* font family */
    --ff-primary: 'Plus Jakarta Sans', sans-serif;
    font-family: var(--ff-primary);

    /* font sizes */
    --fs-heading-xl: 56px;
    --fs-heading-lg: 40px;
    --fs-heading-md: 32px;
    --fs-heading-sm: 24px;
    --fs-body-md: 18px;
    --fs-body-sm: 16px;

    /* line heights */
    --lh-heading-xl: 70px;
    --lh-heading-lg: 51px;
    --lh-heading-md: 40px;
    --lh-heading-sm: 28px;
    --lh-body-md: 28px;
    --lh-body-sm: 28px;

    /* font weight */
    --fw-med: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    line-height: var(--lh-body-md);
    font-weight: 500;

    /* image hero */
    --image-hero-url: url('assets/image-hero-mobile.webp');

}

@media only screen and (min-width: 768px) {
    :root {
        --image-hero-url: url('assets/image-hero-tablet.webp');
    }
}

@media only screen and (min-width: 1440px) {
    :root {
        --image-hero-url: url('assets/image-hero-desktop.webp');
    }
}

body {
    background-image: var(--image-hero-url);
    background-repeat: no-repeat;
    background-position: right -100px top -200px;
}

p {
    color: var(--clr-neutral-400);
    font-size: var(--fs-body-md);
}

a {
    text-decoration: none;
    color: var(--clr-primary-400);
}

/* components */
.main-nav {
    display: flex;
    justify-content: space-between;
    padding-block: 2em;
}

.container {

    margin-inline: 1rem;
}

@media only screen and (min-width:768px) {
    .container {
        margin-inline: 3.5rem;
    }
}

@media only screen and (min-width:1440px) {
    .container {
        margin-inline: auto;
        max-width: 68.75rem;
    }
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
}

@media only screen and (min-width:768px) {
    .courses-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width:1440px) {
    .courses-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.courses-grid>div {
    height: 21.625rem;
}

.course-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--clr-neutral-100);
    border-radius: 1rem;
    padding: 2rem;
    padding-top: 2.5rem;
    margin-top: 1.5rem;
    position: relative;
    height: 100%;
}

.course-icon {
    background-image: var(--clr-accent-400);
    border-radius: 100vw;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    top: -1.75rem;
}

.course-checkout {
    background-image: var(--clr-accent-400);
    border-radius: 1rem;
    padding: 2rem;
    color: var(--clr-neutral-100);
    padding: 2rem;
    padding-top: 2.5rem;
    margin-top: 1.5rem;
    height: 100%;
}


/* buttons */
.btn {
    border: none;
    border-radius: 100vw;
    padding: 0.5em 1.5em;
    font-weight: 700;
    cursor: pointer;
}

.btn-1 {
    background-color: var(--clr-neutral-600);
    color: var(--clr-neutral-100);
}

.btn-1:hover {
    background-color: var(--clr-neutral-500)
}

.btn-2 {
    background-image: var(--clr-accent-400);
    color: var(--clr-neutral-100);
    padding: 0.75em 1.5em;
}

.btn-2:hover {
    background-image: var(--clr-accent-400-hover);
    background-color: white;
}

.btn-3 {
    background-image: var(--clr-accent-500);
    color: var(--clr-neutral-100);
    padding: 0.75em 1.5em;
}

.btn-3:hover {
    background-image: var(--clr-accent-500-hover);
    background-color: white;
}

.section-1 {
    height: 44rem;
}

.headline {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    gap: 2rem;
    width: 29rem;
    align-items: flex-start;
}

.section-2 {
    background-image: linear-gradient(var(--clr-neutral-100), var(--clr-neutral-200));
    padding-bottom: 12rem;
}

.footer {
    background-color: var(--clr-neutral-600);
}

.footer-content {
    padding: 2rem;
    display: flex;
    justify-content: space-between;

}

/* utilities */
/* headings */
.h-xl {
    font-size: var(--fs-heading-xl);
    line-height: var(--lh-heading-xl);
    font-weight: 800;
}

.h-lg {
    font-size: var(--fs-heading-lg);
    line-height: var(--lh-heading-lg);
    font-weight: 800;
}

.h-md {
    font-size: var(--fs-heading-md);
    line-height: var(--lh-heading-md);
    font-weight: 800;
}

.h-sm {
    font-size: var(--fs-heading-sm);
    line-height: var(--lh-heading-sm);
    font-weight: 800;
}


/* grid */
.grid {
    display: grid;
}

.grid-3-col {
    grid-template-columns: repeat(3, 1fr);
}

.grid-2-col {
    grid-template-columns: repeat(2, 1fr);
}

/* flex */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}